{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="https://tse1.mm.bing.net/th?id=OIP.6x4-6ieB6WefuJNjRepbggHaHa&w=174&h=160&c=8&rs=1&qlt=90&dpr=1.25&pid=3.1&rm=2" alt="Alternate Text" />
        </div>
        <div class="col-md-4">
            <img src="https://tse1.mm.bing.net/th?id=OIP.z3qeWgEKzZcjdUa7q84efAHaEK&w=299&h=160&c=8&rs=1&qlt=90&dpr=1.25&pid=3.1&rm=2" alt="Alternate Text" />
        </div>
        <div class="col-md-4">
            <img src="https://th.bing.com/th/id/OIP.jRr98MVLuT0R1VMwbAPNNAHaFz?w=234&h=184&c=7&o=5&dpr=1.25&pid=1.7" alt="Alternate Text" />
        </div>
    </div>
</div>

<div class="jumbotron">
    <div class="card-body">
        <h1 class="display-4 text-center">Didtal Themes</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="https://images.unsplash.com/photo-1544560212-77289e5ea6cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60" alt="Alternate Text" />
        </div>
        <div class="col-md-4">
            <img src="https://images.unsplash.com/photo-1503409098-1e546aa1af1e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60" alt="Alternate Text" />
        </div>
        <div class="col-md-4">
            <img src="https://images.unsplash.com/photo-1507361617237-221d9f2c84f7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60" alt="Alternate Text" />
        </div>
    </div>
</div>

<div class="jumbotron">
    <div class="card-body">
        <h1 class="display-4 text-center">Didtal Themes</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="https://images.unsplash.com/photo-1576153192396-180ecef2a715?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60" alt="Alternate Text" />
        </div>
        <div class="col-md-4">
            <img src="https://images.unsplash.com/photo-1588653560088-9f8c8f071451?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60" alt="Alternate Text" />
        </div>
        <div class="col-md-4">
            <img src="https://images.unsplash.com/photo-1504455510213-fb155b64f3fb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60" alt="Alternate Text" />
        </div>
    </div>
</div>

{% endblock %}